@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700&family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap");
@import 'variables';
@import 'mixins';

/* Common style */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    // display: flex;
	font-size: 100%;
    outline:0;
    font: inherit;
    vertical-align: baseline;
}

div {
    box-sizing: border-box;
}

.homePageBackground {
	background: $G7;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

html{
    // width: 100%;
    font-size: 62.5%;
}

a {
    display: flex;
}

/* Footer */
footer{
	display: flex;
    width: 100%;

    text-align: center;
	justify-content: center;
    margin: 6rem auto;
    align-items: center;
	flex-shrink: 0;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1; 
        transform: translateY(0px);
    }
}

.fadeIn2 {
    opacity: 0;
    animation: fadeIn2 ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
  
@keyframes fadeIn2 {
    0% {
        opacity: 0;
        transform: translateX(5px);
    }
    100% {
        opacity: 1; 
        transform: translateX(0px);
    }
}

.fadeIn0 {
    opacity: 0;
    animation: fadeIn0 ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
  
@keyframes fadeIn0 {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    100% {
        opacity: 1; 
        transform: translateX(0px);
    }
}



@import 'Item';
@import 'button';
@import 'ButtonBar';
@import 'header';
@import 'delete';
@import 'imgInput';
@import 'singleItem';
@import 'form';
@import 'popup';
@import 'contents';
@import 'dropdownMenu';
@import 'Comment';
@import 'avatar';
@import 'iconAnime';
@import 'mobileNav';
@import 'myPage';
@import 'textBar';
@import 'blockTitle';
@import 'emptyState';
@import 'text';

