//@import 'variables';
//@import 'mixins';

.avatar {
	cursor: pointer;
	width: 5rem;
	height: 5rem;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include avatarBorder;

    @include for_mobile($mobile_breakpoint){
        width: 4rem;
        height: 4rem;
    }
}


.commentAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    cursor: pointer;
	width: 4.6rem;
	height: 4.6rem;

    flex-shrink: 0;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include avatarBorder;

    @include for_mobile($mobile_breakpoint){
        width: 4rem;
        height: 4rem;
    }
}

.subCommentAvatar {
    position: relative;
    display: flex;
    width: 3.4rem;
    height: 3.4rem;
    flex-shrink: 0;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include avatarBorder;

    @include for_mobile($mobile_breakpoint){
        width: 3rem;
        height: 3rem;
    }
}

.userAvatar{
    display: flex;
    position: relative;
    width: 5rem;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    img {
        object-fit: cover;
        height: 100%;
        border-radius: 50%;
    }

    @include avatarBorder;

}