//@import 'variables';
//@import 'mixins';

button{
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem;
    line-height: 100%;
    border: none;
    border-radius: 20rem;
    cursor: pointer;
    transition: all 0.3s;
    background: $BrandGd;
}

button:hover{
    opacity: 0.85;
    transition: all 0.3s;
}

button:disabled{
    opacity: 0.2;
    cursor: not-allowed;
    transition: all 0.3s;
}

.button_sub {
	min-width: 60px;
	padding: 1.4rem 1.6rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
	background-color: $BrandGd;

	text-align: center;
	line-height: 100%;
	color: $G0;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.3s;

    @include for_mobile($mobile_breakpoint){
        min-width: 5rem;
        padding: 1rem 1rem;
        font-size: 1.4rem;
    }
}

.button_sub:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.button_confirm{
    background: $BrandGd;
    font-size: 1.6rem;
    color: #fff;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
}

.button_cancel{
    background: $G0;
    font-size: 1.6rem;
    color: #fff;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
}

.button_caution{
    background: hsla(0, 82%, 51%, 0.1);
    font-size: 1.6rem;
    color: hsl(349, 88%, 54%);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
}

.button_caution:hover {
    opacity: 1;
    background: hsl(349, 88%, 54%);
    color: #fff;
    transition: all 0.3s;
}


/* header * li a{ } */

.button_main {
    min-width: 8rem;
	padding: 1.2rem 2.4rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    background: $BrandGd;
    box-shadow: 0px 3px 6px 0px rgba(89, 67, 233, 0.20);

	text-align: center;
	line-height: 100%;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;  /* デフォルトのボーダーを消す */
    transition: all 0.3s;

    @include for_mobile($mobile_breakpoint){
        min-width: 6rem;
        padding: 1rem 1.4rem;
        font-size: 1.4rem;
    }
}

.button_main:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

button.sub {
    background-color: transparent;
    color: $G0;
}



.fixed_buttons {
    position: fixed;
    bottom: calc(50% - 45%); /* 50%がビューポート中央、-100pxで下に移動 */
    right: calc(50% - 480px);  /* 50%がビューポート中央、-100pxで右に移動 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2.4rem;
}

.circleButton_edit {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 5rem;
    background: $BrandGd;
    transition: all 0.3s;
}

.circleButton_edit:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.circleButton_delete {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;

    border-radius: 5rem;
    background: rgba(241, 75, 85, 0.06);
    transition: all 0.3s;
}

.circleButton_delete:hover {
    opacity: 1;
    background: rgba(241, 75, 86, 0.15);
    transition: all 0.3s;
}