//@import 'variables';
//@import 'mixins';

.commentDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 4.8rem;
    align-self: stretch;

    .commentBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.2rem;
        // align-self: stretch;
    }

    .commentContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
        width: 100%;
        // flex-grow: 1;

        .nameBlock {
            display: flex;
            padding-left: 0.4rem;
            align-items: flex-start;
            gap: 1rem;
        }

        textarea{
            display: flex;
            height: 5.6rem;
            width: 100%;
            padding: 0.6rem 1.2rem;
            align-items: flex-start;
            align-self: stretch;
            font-size: 1.4rem;
            line-height: 130%;
        
            border-radius: 0.8rem;
            border: 1px solid $GO4;
            background: rgba(0, 0, 0, 0.01);

            &:focus {
                outline: none;
                border-color: $GO1;
            }
        }
    }

    .commentText {
        display: flex;
        padding: 0.8rem 1.2rem;
        align-items: flex-start;
        max-width: 60rem;
    
        color: $G1;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 2.1rem */
    
        border-radius: 0.8rem;
        background: $GO6;
    }

    .nameText {
        color: $G0;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 1.3rem */

        &:hover {
            color: $TextHover;
        }

        @include for_mobile($mobile_breakpoint) {
            font-weight: 500;
        }
    }

    .textNoHover{
        &:hover {
            color: $G0;
        }
    }

    .dateText {
        color: $G3;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 1.3rem */
    }

    .mainLine {
        width: 1.8rem;
        height: auto;
    
        position: absolute;
        left: 0.5rem;
        top: 5rem;
        bottom: 0rem;
    
        border-right: 1px solid hsla(100, 0%, 0%, 0.1);
        z-index: 2;

        @include for_mobile($mobile_breakpoint){
            top: 4.6rem;
            left: 0.3rem;
        }
    }

    .subContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .textCnt {
            color: $G3;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 1.4rem */
        }

        .buttonBlockSubmit {
            display: flex;
            align-items: flex-start;
            gap: 0.8rem;

            .submitButton{
                padding: 1rem 2.2rem;
                font-size: 1.3rem;
                background: $BrandGd;
            }

            .closeButton{
                padding: 1rem 1.2rem;
                font-size: 1.3rem;
                color: $GO2;
                background: hsla(0, 0%, 0%, 0);
            }
        }
    }
}


.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    //メインコメント
    .mainBlock {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 0.8rem;
    }

    //サブコメント
    .subComment {
        position: relative;
        display: inline-flex;
        width: 100%;
        padding: 0rem 0rem 0rem 4.4rem;
        align-items: flex-start;

        .subBlock {
            display: inline-flex;
            width: 100%;
            padding: 1.6rem 0rem 0rem 0rem;
            align-items: flex-start;
            gap: 0.8rem;

            .nameText{
                font-size: 1.3rem;
            }

            .dateText {
                font-size: 1.3rem;
            }
        }

        .subLineMask {
            width: 1.8rem;
            height: 4rem;
        
            position: absolute;
            left: 2.3rem;
            overflow: hidden;

            @include for_mobile($mobile_breakpoint){
                left: 2.1rem;
            }
        }

        .subLineNoMask {
            width: 1.8rem;
            height: 4rem;
        
            position: absolute;
            left: 2.3rem;

            @include for_mobile($mobile_breakpoint){
                left: 2.1rem;
            }
        }

        .subLine {
            width: 1.7rem;
            height: 3.6rem;
        
            position: absolute;
            left: -0.1rem;
        
            border-radius: 0rem 0rem 0rem 2rem;
            border-bottom: 1px solid hsla(100, 0%, 0%, 0.1);;
            border-left: 1px solid hsla(100, 0%, 0%, 0.1);;

            @include for_mobile($mobile_breakpoint){
                height: 3.2rem;
                left: -0.1rem;
            }
        }

        .subLineToNext {
            width: 1.8rem;
            height: auto;
        
            position: absolute;
            top: 0rem;
            left: 0.5rem;
            bottom: 0rem;
        
            border-right: 1px solid hsla(100, 0%, 0%, 0.1);

            @include for_mobile($mobile_breakpoint){
                left: 0.3rem;
            }
        }

        .commentText {
            font-size: 1.4rem;
        }
    }
}



.buttonBlock {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;

    .buttonArea{
        display: flex;
        align-items: center;
        gap: 0.4rem;
        transition: all 0.3s;

        .buttonTextDefault {
            color: $G3;
            padding-top: 0.3rem;
            font-size: 1.2rem;
            font-style: normal;
            line-height: 100%;
            font-weight: 400;
            transition: all 0.3s;
        }

        &:hover {
            opacity: 0.85;
            transition: all 0.3s;

            .buttonTextActive {
                color: $Brand;
                transition: all 0.3s;
            }
        }

        svg path{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            transition: all 0.3s;
        }
    }

    .deleteButton {
        width: 2rem;
        height: 2rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;

        svg path{
            transition: all 0.3s;
        }

        &:hover {
            svg path{
                fill: #EE426D;
                fill-opacity: 1;
                transition: all 0.3s;
            }
        }

        @include for_mobile($mobile_breakpoint){
            opacity: 1;
        }
    }
}

.comment .buttonBlock .buttonArea:hover .buttonTextDefault,
.comment .buttonBlock .buttonArea:hover svg path{
    opacity: 1;
    color: $Brand;
    fill: $Brand;
    fill-opacity: 1;
    transition: all 0.3s;
}

.buttonBlock .buttonArea .buttonTextActive {
    color: $Brand;
    padding-top: 0.3rem;
    padding-bottom: 0rem;
    font-size: 1.2rem;
    line-height: 100%;
    font-style: normal;
    font-weight: 500;
    transition: all 0.3s;
}

.commentContainer:hover .deleteButton {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}



.commentContainer ::placeholder {
    font-size: 1.4rem;
}

.commentContainer .submitButton:disabled{
    cursor: not-allowed;
    background: hsla(0, 0%, 0%, 0.2);
    transition: all 0.3s;
}

.commentContainer .submitButton:hover{
    opacity: 0.8;
    transition: all 0.3s;
}

.commentContainer .closeButton:hover{
    opacity: 1;
    transition: all 0.3s;
    background: $GO5;
}

.commentDiv .sendComment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    align-self: stretch;
}

.commentDiv .sendComment textarea {
    display: flex;
    height: 12rem;
    width: 100%;
    padding: 0.8rem 1.2rem;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    line-height: 150%;

    border-radius: 0.8rem;
    border: 1px solid $GO4;
}

.commentDiv .sendComment textarea::placeholder {
    color: $GO3;
}

.sendComment textarea:focus {
    outline: none;
    border-color: $GO1;
}

.commentDiv .sendComment .buttonArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    transition: all 0.3s;
}

.sendComment .buttonArea .submitButton {
    display: flex;
    padding: 1.2rem 3.6rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 100%;

    border-radius: 10rem;
    background: $BrandGd;
    transition: all 0.3s;
}

.sendComment .buttonArea .submitButton:disabled {
    cursor: not-allowed;
    background: hsla(0, 0%, 0%, 0.2);
    transition: all 0.3s;
}

.sendComment .buttonArea .textCnt{
    color: $G3;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 1.4rem */
    transition: all 0.3s;
}


.titleBox{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}