//@import 'variables';
//@import 'mixins';

/* Delete Item */
.delete_page * img{
    border-radius: 1rem;
    width: 60%;
}

.delete_page * h1{
    margin-bottom: 1.5rem;
}

.delete_page * h2{
    margin: 1rem 0;
}