//@import 'variables';
//@import 'mixins';

.menu_block {
    position: relative;
}

.menu_block:hover .dropdown{
    display: block;
    opacity: 1;
}

.dropdown {
    position: absolute;
    padding-top: 1rem;
    top: 100%;  /* アバターの直下に配置 */
    left: var(--dynamic-left, 0);
    z-index: 3; /* 他の要素より前面に */

    opacity: 0;
    scale: 95%;
    transform: translateY(5%);
    visibility: hidden;
    transition: opacity 0.3s ease, scale 0.3s, transform 0.3s ease-in-out, visibility 0s ease 0.3s;
}

.show {
    opacity: 1;  /* 完全に不透明に */
    scale: 100%;
    transform: translateY(0%);
    visibility: visible;
    transition: opacity 0s ease, scale 0s, transform 0s ease-in-out, visibility 0s ease 0s;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 16rem;
    padding: 0.6rem 0;
    border-radius: 0.6rem;
    overflow: hidden; /* マスクとして機能する */

    background-color: #fff;
    box-shadow: 
        0 0 0 0.1rem hsla(0, 0%, 0%, 0.08),
        0px 6px 16px 0px rgba(58, 51, 102, 0.15);
}

.menuItem {
    padding: 1rem 2rem;
    background-color: #fff;
    color: $G0;
    text-align: left;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 0;
}

.menuItem:hover {
    position: relative;
    color: #ffffff;
    background-color: #00000000;
}

.menuItem:hover::after {
    position: absolute;
    content: "";
    top: 0;
  	left: 0.5rem;
    right: 0.5rem;
    width: auto;
	height: 100%;
    z-index: -1;
    
    border-radius: 0.4rem;
    background-color: $Brand;
}

.menuItem:last-child {
    box-shadow: none;  /* 最後の項目は下線を消す */
}
