//@import 'variables';
//@import 'mixins';

/* Header */
.header_box {
    position: fixed;
    // transform: translateY(0%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;

    transition: all 0.3s ease-in;

    header {
        display: flex;
        width: 100%;
        max-width: 124rem;
        padding: 1.6rem 1.6rem;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        @include for_mobile($mobile_breakpoint){
            padding: 1.6rem 1.6rem;
        }

        nav{
            // position: relative;
            display: flex;
            align-items: center;
            gap: 20px;  /* ボタン間の隙間 */

            .nav_button {
                display: flex;

                @include for_mobile($mobile_breakpoint){
                    display: none;
                }
            }
        }

        .logo {
            a {
                @include for_mobile($mobile_breakpoint){
                    display: flex;
                    width: 18rem;
                }
            }
        }

        
    }

    img {
        width: 100%;    
    }

    .header_bg{
        position: fixed;
        width: 100%;
        height: 10rem;
        background: #ffffffdb;
        backdrop-filter: blur(40px);
        z-index: -1;

        transition: all 0.3s ease-in;

        @include for_mobile($mobile_breakpoint){
            height: 8rem;
        }
    }

    .at_top {
        // background-color: red;
        // transition: all 0.3s ease-in;
        backdrop-filter: none;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    .header_bg.forceDarkMode {
        // background: red;
        @include header_bg_dark;
    }
}

.headerHide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

header.forceDarkMode {
    @include header_dark;
}





