//@import 'variables';
//@import 'mixins';

.myPageBG {
    position: absolute;
    width: 100%;
    height: 44rem;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.30) 100%);
    }

    @include for_mobile($mobile_breakpoint){
        height: 22rem;
    }
}

.myPageContainer {
    margin-top: 24rem;

    display: flex;
    width: 100%;
    max-width: 120rem;
    align-items: flex-start;
    gap: 1.6rem;

    // background-color: #DDDDDD;

    @include for_mobile($mobile_breakpoint){
        margin-top: 12rem;
    }

    .myPageContainer_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 0 auto;
        gap: 1.2rem;
        flex: 1 0 0;

        // width: 30rem;
        // height: 150rem;
        // background-color: #AAAAAA;

        .profileAndTab {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            max-width: 82.4rem;
            border-radius: 0.6rem;
            
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);


            .profile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            padding: 0rem 2.4rem 3.2rem 2.4rem;
            gap: 2rem;

            border-radius: 0.6rem 0.6rem 0rem 0rem;
            border-bottom: 1px solid $GO6;
            background: #FFF;
            // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

            width: 100%;
            max-width: 82.4rem;
            // height: 30rem;

            @include for_mobile($mobile_breakpoint){
                padding: 0rem 1.6rem 2rem 1.6rem;
            }

            .avatarBlock{
                position: relative;
                display: flex;
                height: 6.4rem;
                padding-bottom: 0px;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 1.6rem;
                align-self: stretch;

                button {
                    padding: 1.4rem 2.4rem;
                    font-weight: 500;
                    border: 0.1rem solid rgba($color: #ffffff, $alpha: 0);

                    @include for_mobile($mobile_breakpoint){
                        font-size: 1.4rem;
                        padding: 1rem 2rem;
                        border: 0.1rem solid rgba($color: #ffffff, $alpha: 0);
                    }
                }

                .following {
                    color: $Brand;
                    border: 0.1rem solid $Brand;
                    background: rgba($color: #ffffff, $alpha: 0);
                }

                .unFollow {
                    color: $Red;
                    border: 0.1rem solid $Red;
                    background: $RedHv;
                }


                @include for_mobile($mobile_breakpoint){
                    height: 5rem;
                }

                .button_main{
                    // align-items: end;
                    padding: 1rem 2.4rem;
                    height: 2.4rem;                             

                    @include for_mobile($mobile_breakpoint){
                        font-size: 1.4rem;
                        height: 1.4rem;
                    }
                }

                .avatarContainer{
                    position: absolute;
                    left: 0.4rem;
                    bottom: 0rem;
                    border-radius: 50%;
                    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

                    @include for_mobile($mobile_breakpoint){
                        left: 0rem;
                    }

                    .userAvatar {
                        width: 12.8rem;

                        @include for_mobile($mobile_breakpoint){
                            width: 8rem;
                        }
                    }
                }
            }

            .infoBlock{
                display: flex;
                padding: 0rem 1.2rem;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 2.8rem;
                align-self: stretch;

                @include for_mobile($mobile_breakpoint){
                    padding: 0rem;
                }

                .profileNameBlock{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 0.8rem;
                    align-self: stretch;
                }

                .profileStatusBlock{
                    display: flex;
                    align-items: flex-end;
                    gap: 2.4rem;

                    @include for_mobile($mobile_breakpoint){
                        gap: 1.8rem;
                    }

                    .numberAndText {
                        display: flex;
                        align-items: flex-end;
                        gap: 0.8rem;
                        flex-shrink: 0;

                        @include for_mobile($mobile_breakpoint){
                            flex-direction: column;
                            align-items: center;
                            gap: 0.2rem;
                        }

                        .body14_G3_h150{
                            @include for_mobile($mobile_breakpoint){
                                font-size: 1.2rem;
                            }
                        }

                    }

                    .number {
                        color: $G0;
                        font-family: DIN-2014;
                        font-size: 2.4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%; /* 2.4rem */

                        @include for_mobile($mobile_breakpoint){
                            font-size: 2.2rem;
                        }
                    }

                    .line{
                        width: 0.1rem;
                        flex-shrink: 0;
                        // height: 100%;
                        // padding: 2.6rem 0rem;
                        // align-self: center;
                        align-self: stretch;
                        background-color: $GO6;
                    }
                }
            }
        }
        }

        

        .itemContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.2rem;

            max-width: 82.4rem;
            width: 100%;
            // align-self: stretch;

            @include for_mobile($mobile_breakpoint){
                gap: 0rem;
            }
        }
    }



    .myPageContainer_right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;

        width: 36rem;
        // background-color: #AAAAAA;

        .extraInfoCollects {
            display: flex;
            width: 36rem;
            // padding: 0.6rem 0rem;
            flex-direction: column;
            align-items: flex-start;
            // gap: 0.6rem;

            border-radius: 0.6rem;
            background: #FFF;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

            .collects{
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: stretch;
            }
        }

        .extraInfoFriends{
            display: flex;
            width: 36rem;
            // padding: 0.6rem 0rem;
            flex-direction: column;
            align-items: flex-start;
            // gap: 0.6rem;

            border-radius: 0.6rem;
            background: #FFF;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

            .friends {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;

                .friend{
                    display: flex;
                    padding: 1.2rem 1.6rem;
                    align-items: center;
                    gap: 1.2rem;
                    align-self: stretch;

                    border-top: 1px solid $G6;

                    transition: all 0.3s, border 0s ease 0.3s;

                    &:hover {
                        border-radius: 0.6rem;
                        background: #FFF;
                        border-top: 1px solid rgba(0, 0, 0, 0);
                        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
                        scale: 102%;
                
                        transition: all 0.3s, border 0s;
                    }

                    .title16_G1{
                        font-weight: 500;
                    }

                    .body14_G3_h150{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;

                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }


    
}

.postedItem {
    display: flex;
    padding: 2rem 2.4rem;
    align-items: flex-start;
    gap: 3.2rem;
    width: 100%;
    box-sizing: border-box;

    border-radius: 0.6rem;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

    transition: all 0.3s;

    &:hover {
        scale: 102%;
        border-radius: 0.6rem;
        transition: all 0.3s;
        box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.12);
    }

    @include for_mobile($mobile_breakpoint){
        padding: 1.6rem;
        gap: 1.4rem;

        border-radius: 0;
        border-top: 1px solid $GO6;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03);

        &:hover {
            scale: none;
            border-radius: none;
            transition: none;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03);
        }
    }


    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.8rem;
        flex: 1 0 0;

        max-width: 60.4rem;
        // width: 100%;

        .textBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.8rem;
            align-self: stretch;

            @include for_mobile($mobile_breakpoint){
                gap: 0.6rem;
            }
        }

        @include for_mobile($mobile_breakpoint){
            gap: 1.2rem;
        }


        .title20_G1{
            font-weight: 500;
            @include for_mobile($mobile_breakpoint){
                // font-weight: 500;
                font-size: 1.7rem;
            }
        }

        .mainBody{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            align-self: stretch;

            overflow: hidden;
            text-overflow: ellipsis;
            color: $G2;
            font-weight: 400;

            @include for_mobile($mobile_breakpoint){
                -webkit-line-clamp: 2;
                font-size: 1.4rem;
                // font-weight: 400;
                color: $G2;
            }
        }

        .itemInfo{
            display: flex;
            align-items: center;
            gap: 2.4rem;

            // width: 100%;
            .iconAndText{
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }
        }
    }

    .image{
        width: 14.8rem;
        height: 14.8rem;
        flex-shrink: 0;
        border-radius: 0.6rem;
        overflow: hidden;

        @include for_mobile($mobile_breakpoint){
            width: 10rem;
            height: 10rem;
        }
    
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}


.collectedItem {
    display: flex;
    padding: 1.6rem;
    align-items: flex-start;
    gap: 1.4rem;
    width: 100%;

    box-sizing: border-box;

    border-radius: 0rem;
    border-top: 1px solid $GO6;
    transition: all 0.3s, border 0s ease 0.3s;
    

    &:hover {
        border-radius: 0.6rem;
        background: #FFF;
        border-top: 1px solid rgba(0, 0, 0, 0);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        scale: 103%;

        transition: all 0.3s, border 0s;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
        flex: 1 0 0;

        max-width: 60.4rem;

        .textBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.6rem;
            align-self: stretch;
        }

        .title20_G1{
            font-size: 1.7rem;
            font-weight: 500;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .mainBody{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;

            overflow: hidden;
            text-overflow: ellipsis;
            color: $G2;
            font-size: 1.4rem;
            font-weight: 400;
        }

        .itemInfo{
            display: flex;
            align-items: center;
            gap: 2.4rem;

            // width: 100%;
            .iconAndText{
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }
        }
    }

    .image{
        width: 10rem;
        height: 10rem;
        flex-shrink: 0;
        border-radius: 0.6rem;
        overflow: hidden;
    
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}